body {
  margin: 0;
  overflow: hidden;
}

canvas {
  display: block; /* Removes any padding/margin issues */
  position: fixed; /* Ensures it covers the whole screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#rotateButton {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ee4d90; /* Button background color */
  border: none; /* Remove border */
  color: white; /* Button text color */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px; /* Rounded corners */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Shadow effect */
  transition: all 0.3s ease; /* Smooth transition */
}

#rotateButton:hover {
  background-color: #973c97; /* Darker background on hover */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

#rotateButton:active {
  background-color: #752e75; /* Even darker background on click */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Restore shadow on click */
  transform: translateY(2px); /* Slight move down on click */
}
