@media (max-width: 600px) {
    .laptop iframe {
        width: 300px;
        height: 200px;
        transform: translateY(-20px);
    }
}

.laptop iframe {
    width: 1000%;
    max-width: 500px;
    height: auto;
    aspect-ratio: 500 / 310;
    border: none;
    border-radius: 15px;
}

/* In your style.css or within a <style> tag in your JSX */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}

#root {
    height: 100%;
    width: 100%;
}

canvas {
    display: block; /* Remove the default margin and padding */
    background-color: black;
}


